docs/n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/channels/{{ $json.channel_id }}/messages/{{ $json.id }}/crosspost",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        384
      ],
      "id": "4ccf25f9-8f89-434f-b385-c2a610211689",
      "name": "Publish for community",
      "credentials": {
        "discordBotApi": {
          "id": "FNAvNyuQTxrys7Ao",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "825ef053-69fa-468d-ba1c-7e642ed95722",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        240
      ],
      "id": "84c8736d-dc57-4eb3-972c-1aa3f7ac55f7",
      "name": "Webhook",
      "webhookId": "825ef053-69fa-468d-ba1c-7e642ed95722"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.body.target }}",
              "rightValue": "notion",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "118e3c43-ea4b-4d92-a1dd-a531eb6d4c1d",
      "name": "Route to Notion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -976,
        64
      ],
      "notes": "Send to Notion if target is 'notion' or 'both'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.body.target }}",
              "rightValue": "discord",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a400b10e-3e0a-4792-8373-601ee08695dc",
      "name": "Route to Discord",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        240
      ],
      "notes": "Send to Discord if target is 'discord' or 'both'"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1266387029365624924",
          "mode": "list",
          "cachedResultName": "DevHub",
          "cachedResultUrl": "https://discord.com/channels/1266387029365624924"
        },
        "channelId": {
          "__rl": true,
          "value": "1426382598388842618",
          "mode": "list",
          "cachedResultName": "🤫『𝐒𝐞𝐜𝐫𝐞𝐭』",
          "cachedResultUrl": "https://discord.com/channels/1266387029365624924/1426382598388842618"
        },
        "content": "**Test de webhook Dechno**\n\n✅ Le webhook fonctionne correctement!\n🔔 Ce message est un test et ne sera pas ajouté à Notion.",
        "options": {}
      },
      "id": "56719ce8-e9f2-4bd3-8800-ebde35c27249",
      "name": "Send Test to Discord Only",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -944,
        672
      ],
      "webhookId": "8dd3be75-9d31-45a9-9019-fd76a8711e73",
      "credentials": {
        "discordBotApi": {
          "id": "FNAvNyuQTxrys7Ao",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2c0d2f92-3a86-8060-97bd-e395c9eadcc6",
          "mode": "list",
          "cachedResultName": "BDD_RSSArticles",
          "cachedResultUrl": "https://www.notion.so/2c0d2f923a86806097bde395c9eadcc6"
        },
        "title": "Articles",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nom|title",
              "title": "={{ $json.body.title }}"
            },
            {
              "key": "Creator|rich_text",
              "textContent": "={{ $json.body.author }}"
            },
            {
              "key": "Date|date",
              "includeTime": "=",
              "date": "={{ $json.body.pubDate }}",
              "timezone": "Europe/Paris"
            },
            {
              "key": "content|rich_text",
              "textContent": "={{ $json.body.content }}"
            },
            {
              "key": "Url|url",
              "urlValue": "={{ $json.body.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1779948b-c45c-453b-bdb2-4dd30f949723",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        -736,
        48
      ],
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "iilDMK6zku5MBFQ6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1266387029365624924",
          "mode": "list",
          "cachedResultName": "DevHub",
          "cachedResultUrl": "https://discord.com/channels/1266387029365624924"
        },
        "channelId": {
          "__rl": true,
          "value": "1426317542108172288",
          "mode": "list",
          "cachedResultName": "🎱『𝐈𝐧𝐟𝐨𝐬』",
          "cachedResultUrl": "https://discord.com/channels/1266387029365624924/1426317542108172288"
        },
        "options": {},
        "embeds": {
          "values": [
            {
              "inputMethod": "json",
              "json": "={\n    \"title\": \"🚀 {{ $json.body.title }}\",\n    \"description\": \"{{ $json.body.content.replace(/\\\\n/g, ' ')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .slice(0, 300)\n    .trim() }}\",\n    \"url\": \"{{ $json.body.link }}\",\n    \"color\": 5814783,\n    \"fields\": [\n      {\n        \"name\": \"Creator\",\n        \"value\": \"{{ $json.body.author }}\",\n        \"inline\": true\n      }\n    ]\n  }"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -736,
        224
      ],
      "id": "048e1ae3-dcaa-4a08-95d9-a7a110fa66d4",
      "name": "Send a message",
      "webhookId": "a626a4d6-3fd4-4fb9-abdf-35969619ca41",
      "credentials": {
        "discordBotApi": {
          "id": "FNAvNyuQTxrys7Ao",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "channelId": "=jd8paazrkirbbmf9437ew4pinc",
        "attachments": [
          {
            "title": "={{ $json.body.title }}",
            "text": "={{ $json.body.content }}",
            "title_link": "={{ $json.body.link }}",
            "image_url": "={{ $json.body.image }}"
          }
        ],
        "otherOptions": {}
      },
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        -736,
        416
      ],
      "typeVersion": 1,
      "id": "96ca7235-a4ff-4c0f-a1b9-affb2be34924",
      "credentials": {
        "mattermostApi": {
          "id": "74YKBy1X0DgwySBV",
          "name": "Mattermost account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Article processed\", \"target\": $json.body.target || \"both\" } }}",
        "options": {}
      },
      "id": "eb42cde6-e11f-4ecc-b6b4-6d45e1631ae3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -240,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.body.target }}",
              "rightValue": "mattermost",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5c592e9-4a87-47bc-a306-24b13ccaca07",
      "name": "Route to Mattermost",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -944,
        432
      ],
      "notes": "Send to Mattermost if target is 'mattermost' or 'both'"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.title }}",
              "operation": "notContains",
              "value2": "Test de webhook OpenRss"
            }
          ]
        }
      },
      "id": "485563dc-f110-4461-8162-b68d149a3add",
      "name": "Filter Test Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1248,
        240
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Test Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Notion": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Discord": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Test to Discord Only": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Publish for community",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mattermost": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Mattermost": {
      "main": [
        [
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Test Messages": {
      "main": [
        [
          {
            "node": "Route to Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route to Mattermost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Test to Discord Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d7beb8b6d4cfdde3c8488889bbe7214254232011bc4cc26c332ad7f01f940894"
  }
}